<html>

<body>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <input type="submit" value="Выйти"/>
    </form>
</div>
<div>
    <form method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <input type="text" name="text" placeholder="Введите 4-х значное число" />
        <button type="submit">Играть</button>
    </form>
</div>
<div>Ваши попытки:</div>
{{#games}}
    <div>
        <b>{{text}}</b>
    </div>
{{/games}}
<div><b>Рейтинг пользователей по среднему кол-ву попыток:</b></div>
{{#ratings}}
    <div>
        <b>{{username}}</b>
        <i>{{ratio}}</i>
    </div>
{{/ratings}}
</body>
</html>