<html>
<body>
<div>

</div>
<h2 style="text-align: center">Добро пожаловать в игру Бык-корова!</h2>
<div style="text-align: left">Суть игры:
    Компьютер загадывает 4-х значное число. Цифры загаданного числа не
    повторяются. Ваша задача угадать загаданное число. У
    вас неограниченное число попыток. В каждую попытку
    вы даете компьютеру свой вариант числа. Компьютер сообщает
    сколько цифр точно угадано (бык) и сколько цифр угадано без учета
    позиции (корова). По ответу компьютера вы должны за
    несколько ходов угадать число.</div>
<a href="/registration">Регистрация</a>
<a href="/login">Вход</a>
<a href="/game">Начать игру</a>
<a href="/rating">Рейтинг пользователей</a>
</body>
</html>