<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Игра Бык-Корова</title>
</head>
<body>
<h2 style="text-align: center">Рейтинг пользователей</h2>
{{#users}}
        <b>{{users}}</b>
{{/users}}